<html>

<h1 id="joo"> Failed to authenticate xd </h1> 

<script>
setTimeout(()=>{
  window.location.href = "/"
},1000);
</script>

<style>
body{
background-color:black; 
}
#joo{
font-size: 20px;
font-style: bold;
color: red;
}
</style>







</html>