<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
            <a href="/dashboard" class="dashboard-button">Dashboard</a>
            <a href="/login" class="sign-in-button">Sign In</a>
        <a href="/" class="home-button">Home</a>
        <div class="language-switcher">
            <a href="#" class="lang" id="en">EN</a>
            <a href="#" class="lang" id="ar">FI</a>
        </div>
    </header>
      <h1> HOME\ </h1> 