<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/dashboard" class="dashboard-button">Dashboard</a>
        <a href="/logout" class="sign-in-button">Log Out</a>
        <a href="/" class="home-button">Home</a>
        <div class="language-switcher">
            <a href="#" class="lang" id="en">EN</a>
            <a href="#" class="lang" id="ar">FI</a>
        </div>
    </header>

    <div class="user-name-box">
        Welcome, User!
    </div>

    <div class="dashboard-statistics">
        <div class="stat-box" id="stat1">Statistic 1</div>
        <div class="stat-box" id="stat2">Statistic 2</div>
        <div class="stat-box" id="stat3">Statistic 3</div>
    </div>
</body>
</html>